<h2>Tworzenie nowego wydarzenia</h2>

<form (ngSubmit)="submitForm()" [formGroup]="eventForm" novalidate>
  <div class="form-content">
    <label>
      Nazwa:
      <input type="name" formControlName="name" class="sd-form-control" placeholder="Wprowadź nazwę wydarzenia.">
    </label>
    <label>
      Organizator:
      <input type="organizer" formControlName="organizer" class="sd-form-control" placeholder="Wprowadź nazwę organizatora.">
    </label>
    <label>
      ID Harmonogramu:
      <input type="id" formControlName="id" class="sd-form-control" placeHolder="Wprowadź ID harmonogramu.">
    </label>
    <div class="form-submit">
      <button type="submit">Wprowadź</button>
    </div>
  </div>
</form>


<div class="form-value">
  Form value:
  <pre>
    {{eventForm.value | json}}
  </pre>
  <p>
    Status: {{eventForm.status}}
  </p>
  <p>
    Valid: {{eventForm.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div>

