<h2>Tworzenie nowego wydarzenia</h2>

<form (ngSubmit)="submitForm()" [formGroup]="eventForm" novalidate>
  <div class="form-content">
    <label>
      Nazwa:
      <input type="name" formControlName="name" class="sd-form-control" placeholder="Wprowadź nazwę wydarzenia.">
    </label>
    <label>
      Organizator:
      <input type="organizer" formControlName="organizer" class="sd-form-control" placeholder="Wprowadź nazwę organizatora.">
    </label>
    <label>
      Ilość miejsc:
      <input type="numberOfSeats" formControlName="numberOfSeats" class="sd-form-control" placeholder="Wprowadź ilość miejsc.">
    </label>
    <label>
      Cena biletu:
      <input type="ticketPrice" formControlName="ticketPrice" class="sd-form-control" placeholder="Wprowadź cenę biletu.">
    </label>
    <label>
      Adres:
      <input type="address" formControlName="address" class="sd-form-control" placeholder="Wprowadź adres.">
    </label>
    <label>
      Sala:
      <input type="room" formControlName="room" class="sd-form-control" placeholder="Wprowadź numer sali.">
    </label>
    <label>
      Opis wydarzenia:
      <input type="description" formControlName="description" class="sd-form-control" placeholder="Wprowadz opis wydarzenia.">
    </label>
    <label>
      ID Harmonogramu:
      <input type="timetable" formControlName="timetable" class="sd-form-control" placeHolder="Wprowadź ID harmonogramu.">
    </label>
    <div class="form-submit">
      <button type="submit">Wprowadź</button>
    </div>
  </div>
</form>

